<h1><center>Applications</h1>
<br>
<li><b>Name: </b><%= @application.name %></li>
<li><b>Street Address: </b><%= @application.street_address %></li>
<li><b>City: </b><%= @application.city %>
<li><b>State: </b><%= @application.state %>
<li><b>Zip Code: </b><%= @application.zip_code %>
<li><b>Status: </b><%= @application.status %>
<li><b>Description: </b><%= @application.description %>
<br>
<br>
<li><% @application.pets.each do |pet|%>
  <b>Pet Name: </b><%= pet.name %>
<%end%></li>

<% if @application.status == "In Progress" %>
<h1><center>Add a Pet to this Application</h1>
  <%=form_with url: "/applications/#{@application.id}", method: :get, local: true do |form|%>
    <%= form.label :search %>
    <%= form.text_field :search %>
    
    <%= form.submit "Find Pet" %>
  <%end%>

  <% if params[:search] %>
    <% @found_pets.each do |found_pet| %>
      <li><%= found_pet.name %></li>
    <%end%>
  <%end%>

<%end%>
