<h1><center>Applications</h1>
<br>
<li><b>Name: </b><%= @application.name %></li>
<li><b>Street Address: </b><%= @application.street_address %></li>
<li><b>City: </b><%= @application.city %>
<li><b>State: </b><%= @application.state %>
<li><b>Zip Code: </b><%= @application.zip_code %>
<li><b>Status: </b><%= @application.status %>
<li><b>Description: </b><%= @application.description %>
<br>
<br>
  <b>Pets On This Application: </b>
<ul><% @application.pets.each do |pet|%>
  <li><%= pet.name %></li>
<%end%></ul>

<% if @application.status == "In Progress" %>
<h1><center>Add a Pet to this Application</h1>
  <%=form_with url: "/applications/#{@application.id}", method: :get, local: true do |form|%>
    <%= form.label :search %>
    <%= form.text_field :search %>
    
    <%= form.submit "Find Pet" %>
  <%end%>

  <% if params[:search] %>
    <% @found_pets.each do |found_pet| %>
      <li><%= found_pet.name %><%= form_with url: "/pet_applications", method: :post, local: true do |form|%>
        <%= form.hidden_field :application_id, value: @application.id %>
        <%= form.hidden_field :pet_id, value: found_pet.id %>
        <%= form.submit "Adopt #{found_pet.name}" %>
        <%end%>
      </li>
    
    <%end%>
  <%end%>

<%end%>
